go 1.25.4

use (
	./course1/week1_assignment1_iterative
	./course1/week1_assignment1_karatsuba
	./course1/week2_assignment1_count_inversions
	./course1/week3_quicksort
	./course1/week4_graph_contraction
	./course2/week1_graph_scc
	./course2/week2_dijkstra_shortest_path
	./course2/week3_heap_median
	./course2/week4_hash_table
	./course3/week1_greedy_schedule_mst
)
